.button2 {
    background-color: white;
    border: solid 1px black;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button3 {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonforcart {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lavender;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: fixed;
    top: 100px;
    right: 50px;
}

.buttonforcart:hover {
    background-color: #57509f
}

.buttonforcart:active {
    background-color: #57509f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table {
    margin: auto;
    width: 99%;
}

#search {
    display: inline-block
}

td {
    padding: 10px;
    width: 33%;
}

#searchid {
    width: 250px;
}

.wish_icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
